<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixed By Seni | Homepage</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" id ="navbar">
        <a class="pure-menu-heading" href="">
            <img id="navbar-logo" alt="logo" class="pure-img-logo" th:src="@{/img/white_logo_transparent_background.png}"/>
        </a>
        <ul class="pure-menu-list" id="menuItems">
            <li class="pure-menu-selected"><a th:href="@{/}" class="pure-menu-link" id="item1">Home</a></li>
            <li><a th:href="@{/services}" class="pure-menu-link" id="item2">Services</a></li>
            <li>
                <a class="pure-menu-link" id="item3">
                    <button onclick="scrollToBottom()" class="pure-menu-button">Contact us</button>
                </a>
            </li>
            <li >
                <a id="navbar-lang-button" th:href="@{/pl}" class="pure-menu-link">
                    <img id="navbar-lang" title="Switch to Polish" alt="PL" height="25px" width="40px" class="pure-img"
                         th:src="@{/img/pl.png}"/>
                </a>
            </li>
            <li class="pure-menu-item-hamburger">
                <button class="menu" id="hamburgerButton" onclick="toggleResponsiveness()">
                    <svg class="hamburger-icon" width="100" height="100" viewBox="0 0 100 100">
                        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                        <path class="line line2" d="M 20,50 H 80" />
                        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                    </svg>
                </button>
            </li>
        </ul>
<!--        <ul class="pure-menu-list-right" id="rightList">-->
<!--            <li class="pure-menu-item">-->
<!--                <a>-->
<!--                    <button onclick="scrollToBottom()" class="pure-menu-button">Contact us</button>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="pure-menu-item">-->
<!--                <a id="navbar-lang-button" th:href="@{/pl}">-->
<!--                    <img id="navbar-lang" title="Switch to Polish" alt="PL" height="25px" width="40px" class="pure-img"-->
<!--                         th:src="@{/img/pl.png}"/>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="pure-menu-item">-->
<!--                <button class="menu" id="hamburger-button" onclick="toggleResponsiveness()">-->
<!--                    <svg class="hamburger-icon" width="100" height="100" viewBox="0 0 100 100">-->
<!--                        <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />-->
<!--                        <path class="line line2" d="M 20,50 H 80" />-->
<!--                        <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />-->
<!--                    </svg>-->
<!--                </button>-->
<!--            </li>-->
<!--        </ul>-->
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Mixed by seni</h1>
        <p class="splash-subhead">
            Online audio mix & mastering
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Go to services</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h1 class="content-head is-center">Using our service you get:</h1>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Your mix delivered in 72h
                </h3>
                <p>
                    Guarantee of working out a sound that will satisfy you in 72 hours.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Payment after the service is provided
                </h3>
                <p>
                    You pay for the service only after receiving the mix, if we do not meet your expectations - <b> you
                    do not pay for the service.</b>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Free revisions
                </h3>
                <p>
                    Unlimited number of free revisions
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    All the contact you need
                </h3>
                <p>
                    During the process we provide regular correspondence service.
                    <href>Link do kontaktu</href>
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-3-5" id="vid-container">
            <button class="pure-button"><</button>
            <iframe th:src="${'https://www.youtube.com/embed/wlnmzSuLElM'}" allow="autoplay; encrypted-media" frameborder="0" allowfullscreen></iframe>
            <button class="pure-button">></button>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5" id="o-mnie-container">

            <h2 class="content-head content-head-ribbon">About me / my portfolio</h2>

            <p>
                As an artist i create and mix my own music. Using the service we can achieve a similar result.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Any questions? Contact us</h2>

        <div class="pure-g">
            <div style="padding: 0;" class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <label style="margin-top: 0" for="service">Selected service:</label>
                        <select id="service" class="pure-input-1-1">
                            <option>None - just contacting</option>
                            <option>below 10 stems - 49$</option>
                            <option>10 to 20 stems - $59</option>
                            <option>over 30 stems - $79</option>
                        </select>
                        <label for="name">Name</label>
                        <input id="name" type="text" placeholder="Your name" required="">

                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="Your e-mail" required="">

                        <label for="message">Wiadomość</label>
                        <textarea class="textarea" required="" id="message" type="text" placeholder="Message"
                                  rows="4"></textarea>

                        <button type="submit" class="pure-button">Send message</button>
                    </fieldset>
                </form>
            </div>

            <div style="padding: 0;" class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <div class="buttons">
                    <div class="row">
                        <button class="twitter">
                            <span><i class="fa fa-envelope"></i></span>
                            <a class="link" href="mailto:senimixservices@gmail.com">senimixservices@gmail.com </a>
                        </button>
                        <a class="link" href="#"
                           onclick='window.open("https://www.facebook.com/Seni-Mix-Mastering-111342397698442");return false;'>
                            <button type="submit" class="facebook">
                                <span><i class="fa fa-facebook"></i></span>
                                Seni Mix & Mastering
                            </button>
                        </a>
                        <a class="link" href="#"
                           onclick='window.open("https://www.instagram.com/seni.qui");return false;'>
                            <button type="submit" class="instagram">
                                <span><i class="fa fa-instagram"></i></span>
                                seni.qui
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>