<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixed By Seni | Homepage</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}" rel="stylesheet"/>
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">
            <img id="navbar-logo" alt="logo" class="pure-img" th:src="@{/img/white_logo_transparent_background.png}"/>
        </a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a th:href="@{/pl}" class="pure-menu-link">Strona główna</a></li>
            <li class="pure-menu-item"><a th:href="@{/pl/services}" class="pure-menu-link">Usługi</a></li>
        </ul>
        <ul class="pure-menu-list-right">
            <li class="pure-menu-item">
                <a href="" class="pure-menu-link">Skontakuj się</a>
            </li>
            <li class="pure-menu-item">
                <a id="navbar-lang-button" th:href="@{/}">
                    <img id="navbar-lang" title="Switch to English" alt="ENG" height="25px" width="40px" class="pure-img"
                         th:src="@{/img/uk.png}"/>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Mixed by seni</h1>
        <p class="splash-subhead">
            Miks mastering online
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Zobacz listę usług</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">W ramach naszych usług oferujemy:</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Pożądany efekt w 72h
                </h3>
                <p>
                    Gwarancja wypracowania brzmienia, które zadowoli klienta w 72h.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Opłata po realizacji usługi
                </h3>
                <p>
                    Płacisz dopiero po otrzymaniu gotowego miksu, jeżeli nie spełnimy twoich oczekiwań - <b> nie płacisz za usługę.</b>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Nielimitowana ilość poprawek
                </h3>
                <p>
                    Usługa obejmuje nielimitowaną ilość poprawek - działamy do momentu, w którym będziesz w 100% usatysfakcjonowany.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Stały kontakt
                </h3>
                <p>
                    Podczas pracy nad utworem jesteśmy w regularnym kontakcie. <href>Link do kontaktu</href>
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-3-5" id ="vid-container">
            <button class="pure-button"><</button>
            <iframe th:src="${'https://www.youtube.com/embed/wlnmzSuLElM'}"
                    height="350px" allow="autoplay; encrypted-media" frameborder="0" allowfullscreen></iframe>
            <button class="pure-button">></button>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5" id = "o-mnie-container">

            <h2 class="content-head content-head-ribbon">O mnie</h2>

            <p>
                Tutaj musisz mi dosłać jakieś krótkie przedstawienie ciebie Tutaj musisz mi dosłać jakieś krótkie przedstawienie ciebieTutaj musisz mi dosłać jakieś krótkie przedstawienie ciebieTutaj musisz mi dosłać jakieś krótkie przedstawienie ciebieTutaj musisz mi dosłać jakieś krótkie przedstawienie ciebie
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Pytania? Skontaktuj się</h2>

        <div class="pure-g">
            <div style="padding: 0;" class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <h4 class="content-head" style="margin: 0 0 0 7em;">Formularz kontaktowy</h4>
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <label style="margin-top: 0" for="service">Wybrana usługa:</label>
                        <select id="service" class="pure-input-1-2">
                            <option>Żaden - chcę się tylko skontaktować</option>
                            <option>poniżej 10 śladów - 89zł</option>
                            <option>od 10 do 20 śladów - 129zł</option>
                            <option>powyżej 30 śladów - 149zł</option>
                        </select>
                        <label for="name">Imię</label>
                        <input id="name" type="text" placeholder="Twoje imię" required="">

                        <label for="email">E-mail</label>
                        <input id="email" type="email" placeholder="Twój e-mail" required="">

                        <label for="message">Treść wiadomości</label>
                        <textarea class="textarea" required="" id="message" type="text" placeholder="Treść wiadomości" rows="4"></textarea>

                        <button type="submit" class="pure-button">Wyślij wiadomość</button>
                    </fieldset>
                </form>
            </div>

            <div style="padding: 0;" class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <div class="buttons">
                    <div class="row">
                        <button class="twitter">
                            <span><i class="fa fa-envelope"></i></span>
                            <a class="link" href="mailto:senimixservices@gmail.com">senimixservices@gmail.com </a>
                        </button>
                        <a class="link" href="#" onclick='window.open("https://www.facebook.com/Seni-Mix-Mastering-111342397698442");return false;'>
                            <button type="submit" class="facebook">
                                <span><i class="fa fa-facebook"></i></span>
                                Seni Mix & Mastering
                            </button>
                        </a>
                        <a class="link" href="#" onclick='window.open("https://www.instagram.com/seni.qui");return false;'>
                            <button type="submit" class="instagram">
                                <span><i class="fa fa-instagram"></i></span>
                                seni.qui
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>