<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive pricing table.">
    <title>Mixed By Seni | Services</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="/layouts/pricing/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}" rel="stylesheet"/>
    <link href="../static/css/servicesstyle.css" th:href="@{/css/servicesstyle.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/services.js}"></script>
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">
            <img id="navbar-logo" alt="logo" class="pure-img" th:src="@{/img/white_logo_transparent_background.png}"/>
        </a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a th:href="@{/}" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item pure-menu-selected"><a th:href="@{/services}" class="pure-menu-link">Services</a>
            </li>
        </ul>
        <ul class="pure-menu-list-right" id="rightList">
            <li class="pure-menu-item">
                <button onclick="scrollToBottom()" class="pure-menu-button">Contact us</button>
            </li>
            <li class="pure-menu-item">
                <a id="navbar-lang-button" th:href="@{/pl/services}">
                    <img id="navbar-lang" title="Switch to Polish" alt="PL" height="25px" width="40px" class="pure-img"
                         th:src="@{/img/pl.png}"/>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Mixed by seni</h1>
        <p class="splash-subhead">
            Online audio mix & mastering
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="l-content">
        <div class="header-wrapper">
            <h1 class="content-head is-center">Choosing a plan</h1>
            <p class="header-content">Thanks to a professional mixing&mastering service, your track will reach more
                listeners. Apart from being an audio engineer, I am also an artist and I create my own music which has
                already gathered a large audience, so if you wish, I will gladly try to enrich your song with my
                suggestions, give you a different perspective before it gets published. I create the sound of the song
                according to your preferences - It would be very helpful if you send me also a reference track.</p>
        </div>
        <div class="pricing-tables pure-g">
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pricing-table pricing-table-free">
                    <div class="pricing-table-header">
                        <h2>below 10 stems</h2>

                        <span class="pricing-table-price">
                        $49 <span></span>
                    </span>
                    </div>

                    <button onclick="choosePlan(1)" class="button-choose pure-button">Choose</button>
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pricing-table pricing-table-biz pricing-table-selected">
                    <div class="pricing-table-header">
                        <h2>10 to 20 stems</h2>

                        <span class="pricing-table-price">
                        $59 <span></span>
                    </span>
                    </div>

                    <button onclick="choosePlan(2)" class="button-choose pure-button">Choose</button>
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
                <div class="pricing-table pricing-table-enterprise">
                    <div class="pricing-table-header">
                        <h2>over 30 stems</h2>

                        <span class="pricing-table-price">
                        $79 <span></span>
                    </span>
                    </div>

                    <button onclick="choosePlan(3)" class="button-choose pure-button">Choose</button>
                </div>
            </div>
        </div> <!-- end pricing-tables -->

        <div class="information pure-g">
            <div class="pure-u-1 pure-u-md-1-2">
                <div class="l-box">
                    <h3 class="information-head">What are stems?</h3>
                    <p>
                        Stems are individual audio tracks. Count how many separate tracks you have in the track - this
                        will be your number of stems.
                    </p>
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-2">
                <div class="l-box">
                    <h3 class="information-head">Buying in bulk</h3>
                    <p>
                        With larger purchases, the price drops proportionally to the size of the order, we arrange the
                        details individually.
                    </p>
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-2">
                <div class="l-box">
                    <h3 class="information-head">Working on albums</h3>
                    <p>
                        When mixing/mastering the entire album, pricing is individual.
                    </p>
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-2">
                <div class="l-box">
                    <h3 class="information-head">Discuss the details</h3>
                    <p>
                        By choosing a plan, you're not commiting to the purchase. Functionality leads you to a contact
                        form, where we can further discuss the details of your desired service via e-mail.
                    </p>
                </div>
            </div>
        </div> <!-- end information -->


        <div class="ribbon price-includes">
            <h1 class="content-head is-center">Price includes:</h1>
            <div class="l-box-lrg pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <p class="price-includes-content">
                        <i class="fa fa-check"></i>
                        Version for youtube and other streaming services.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <p class="price-includes-content">
                        <i class="fa fa-check"></i>
                        Concert version with vocals muted by 80% - upon request.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
                    <p class="price-includes-content">
                        <i class="fa fa-check"></i>
                        Acapella and instrumental version - upon request
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Any questions? Contact us</h2>

        <div class="pure-g">
            <div style="padding: 0;" class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <h4 class="content-head" style="margin: 0 0 0 7em;">Contact form</h4>
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <label style="margin-top: 0" for="service">Selected service:</label>
                        <select id="service" class="pure-input-1-2">
                            <option>None - just contacting</option>
                            <option>below 10 stems - 49$</option>
                            <option>10 to 20 stems - $59</option>
                            <option>over 30 stems - $79</option>
                        </select>
                        <label for="name">Name</label>
                        <input id="name" type="text" placeholder="Your name" required="">

                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="Your e-mail" required="">

                        <label for="message">Wiadomość</label>
                        <textarea class="textarea" required="" id="message" type="text" placeholder="Message"
                                  rows="4"></textarea>

                        <button type="submit" class="pure-button">Send message</button>
                    </fieldset>
                </form>
            </div>

            <div style="padding: 0;" class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <div class="buttons">
                    <div class="row">
                        <button class="twitter">
                            <span><i class="fa fa-envelope"></i></span>
                            <a class="link"
                               href="mailto:senimixservices@gmail.com">senimixservices@gmail.com </a>
                        </button>
                        <a class="link" href="#"
                           onclick='window.open("https://www.facebook.com/Seni-Mix-Mastering-111342397698442");return false;'>
                            <button type="submit" class="facebook">
                                <span><i class="fa fa-facebook"></i></span>
                                Seni Mix & Mastering
                            </button>
                        </a>
                        <a class="link" href="#"
                           onclick='window.open("https://www.instagram.com/seni.qui");return false;'>
                            <button type="submit" class="instagram">
                                <span><i class="fa fa-instagram"></i></span>
                                seni.qui
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end l-content -->
</div> <!-- end content wrapper-->
</body>
</html>